@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* My hand written CSS */
@font-face {
  font-family: myFont;
  src: url(/Milker.ttf);
}

body {
  background: rgb(3,3,52);
  background: linear-gradient(120deg, rgba(3,3,52,1) 0%, rgba(2,1,11,1) 2%, rgba(5,3,34,1) 62%, rgba(6,3,28,1) 92%);
  font-family: Arial, Helvetica, sans-serif;
  color:white

}
.bodyColor{
  background: rgb(3,3,52);
  background: linear-gradient(120deg, rgba(3,3,52,1) 0%, rgba(2,1,11,1) 2%, rgba(5,3,34,1) 62%, rgba(6,3,28,1) 92%);
}

.headingSpan1{
  background: #F0F1F1;
  background: linear-gradient(to right, #F0F1F1 0%, #4C3CBF 50%, #878F96 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family:myFont ;

}

.headingSpan2{
  background: #8889F1;
  background: linear-gradient(to right, #8889F1 0%, #2D3896 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   font-family:myFont ;
  
}

.navbarLinks{
  background: rgb(55,36,135);
  background: linear-gradient(120deg, rgba(55,36,135,1) 21%, rgba(69,31,151,1) 73%);
}

.authBg{
  background: rgb(62,65,232);
  background: linear-gradient(120deg, rgba(62,65,232,1) 31%, rgba(73,75,207,1) 82%);
}


.authBg:hover {
  background: rgb(9,10,91);
  background: linear-gradient(120deg, rgba(9,10,91,1) 31%, rgba(26,28,129,1) 82%);
}

.footerBg{
  background: rgb(9,10,91);
  background: linear-gradient(120deg, rgba(9,10,91,1) 13%, rgba(19,20,111,1) 31%, rgba(31,32,132,1) 55%, rgba(37,38,147,1) 72%, rgba(45,47,161,1) 82%, rgba(74,76,194,1) 91%);
}





.linkTaskAdd{
  background: rgb(55,36,135);
  background: linear-gradient(120deg, rgba(55,36,135,1) 21%, rgba(69,31,151,1) 73%);
}
 
.linkTaskAdd:hover{
  background: rgb(9,10,91);
  background: linear-gradient(120deg, rgba(9,10,91,1) 31%, rgba(26,28,129,1) 82%);
}